.multi-select-dropdown, .single-select-dropdown {
  position: relative;
  margin-left: 10px;
}

.multi-select-dropdown_selected, .single-select-dropdown_selected {
  width: 300px;
  min-height: 50px;
  font-size:14px;
  border:solid 1px lightblue;
  border-radius: 5px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
 }

 .multi-select-dropdown_select, .single-select-dropdown_select {
  width: 300px;
  min-height: 50px;
  font-size:14px;
  border:solid 1px lightgrey;
  border-radius: 5px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
 }

 .multi-select-list, .single-select-list {
   width: 280px;
 }

 .multi-select-list, .single-select-list > span {
   margin-left: 20px;
 }

 .multi-select-show, .single-select-show {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

 .multi-select-show-btn, .single-select-show-btn {
  background-color: none;
  background: none;
  border: none;
  color: inherit;
 }

 button:hover {
   cursor: pointer;
 }

 .multi-select-dropdown_items, .single-select-dropdown_items {
   width: 300px;
   padding: 0px;
   margin-top: 0px;
   border: 1px solid lightgray;
   border-radius: 5px;
   border-top: none;
} 

.multi-select-dropdown_item, .single-select-dropdown_item {
  padding: 10px;
  display: flex;
}

.single-select-dropdown_item:hover {
  cursor: pointer;
}

.multi-select-dropdown_item_selected, .single-select-dropdown_item_selected {
  background-color: lightblue;
}

.single-select-dropdown_item > label{
  margin-left: 20px;
}

.multi-select-dropdown_checkbox {
  margin-right: 10px;
  margin-left: 20px;
}

input:hover {
  cursor: pointer;
}

ul {
  position: absolute;
  list-style: none;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 5px 0px lightgray inset;
  -moz-box-shadow: 0 0 5px 0px lightgray inset;
}

li:hover {
  background-color: lightblue;
}

li > label {
  font-size: 14px;
}